spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/quantivo
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        default_schema: core

  flyway:
    enabled: true
    schemas: core
    default-schema: core
    locations: classpath:db/migration
